body {
    background-image: url(logo2.png);
    background-position: 3% 2%;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: 250px 250px;
    background-color:  rgb(223, 224, 231);;
}